# Dependencies
node_modules/
/.pnp
.pnp.js

# Production builds
/dist
/build
/.next/

# Environment variables
.env
.env.local
.env.*.local
.vite/

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?